.auth-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease, color 0.3s ease;
	padding: var(--offset-l);
}

@media (max-width: 425px) {
	.auth-container {
		padding: 0;
		width: 100%;
	}
}

.forms-container {
	display: flex;
	width: 900px;
	height: 600px;
	background-color: var(--color-bg-primary);
	border-radius: var(--border-radius-m);
	box-shadow: var(--main-box-shadow);
	overflow: hidden;
	flex-wrap: nowrap;
	border: 1.5px solid var(--color-border-primary);
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}

@media (max-width: 425px) {
	.forms-container {
		padding: 0;
		width: 100%;
		box-shadow: none;
	}
}

.section {
	position: relative;
	overflow-y: hidden;
	scroll-snap-align: start;
	flex-grow: 0;
	flex-shrink: 0;
	width: 450px;
	height: 100%;
}

.mobile-section {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-2 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: var(--color-accent-secondary);
}

.section-2 > h1 {
	font-size: var(--font-size-xl);
	color: var(--color-accent-primary);
}

.section-2 > .icon {
	font-size: var(--font-size-logo);
	color: var(--color-accent-primary);
}
