.modal {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 20px;
	left: 50%;
	transform: translate(-50%, 0);
	max-width: 300px;
	min-width: 250px;
	border-radius: var(--border-radius-m);
	padding: var(--offset-s);
	/* border: 1.5px solid var(--border-color); */
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
		rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
		rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
	animation: slideIn 0.4s ease-out;
}

.modal > h3 {
	font-size: var(--font-size-pre-l);
}

.modal.error {
	background: var(--red-color);
}

.modal.success {
	background: var(--blue-color);
}

.messages-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.message {
	text-align: center;
}

@keyframes slideIn {
	from {
		transform: translate(-50%, 100%);
		opacity: 0;
	}
	to {
		transform: translate(-50%, 0%);
		opacity: 1;
	}
}
