.main-layout {
	height: 100%;
	width: 100%;
	background-color: var(--color-bg-primary);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease, color 0.3s ease;
	padding: var(--offset-s);
}

@media (max-width: 960px) {
	.main-layout {
		padding: 0;
	}
}

.main-layout__container {
	width: 1200px;
	height: 750px;
	display: flex;
	background-color: var(--color-bg-primary);
	border-radius: var(--border-radius-l);
	box-shadow: var(--main-box-shadow);
	padding: var(--offset-m);
	transition: background-color 0.3s ease, color 0.3s ease;
	gap: var(--offset-m);
}

@media (max-width: 960px) {
	.main-layout__container {
		width: 100%;
		height: 100%;
		border-radius: 0;
		padding: 0;
	}
}
