.profile-container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--offset-m);
	width: 100%;
}

.dropdown {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	top: 100%;
	background: var(--input-color);
	padding: var(--offset-xs);
	border-radius: var(--border-radius-s);
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: all 0.2s ease-in-out;
	box-shadow: var(--input-box-shadow);
	z-index: 10;
	list-style: none;
}

.dropdown.is-open {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.dropdown__icon {
	box-sizing: content-box;
	font-size: var(--font-size-m);
	color: var(--text-color);
	padding: var(--offset-xxs);
}

/* Стили для настроек */
.settings-container {
	position: absolute;
	display: flex;
	right: 5px;
	top: 0;
	cursor: pointer;
	margin-bottom: var(--offset-xs);
}

.settings-icon {
	font-size: var(--font-size-pre-l);
	color: var(--input-text-light-color);
	transition: all 0.2s ease-in-out;
}

.settings-container:hover .settings-icon {
	color: var(--text-color);
}

.settings-container.active .settings-icon {
	transform: rotate(90deg);
	color: var(--text-color);
}

.profile-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-grow: 0;
}

.profile-name {
	font-size: var(--font-size-pre-l);
	font-weight: bold;
	color: var(--text-color);
	margin-bottom: var(--offset-s);
}

.status-container {
	position: relative;
	margin-bottom: var(--offset-s);
}

.profile-status {
	font-size: var(--font-size-m);
	background: var(--lightgreen-color);
	padding: var(--offset-xs) var(--offset-s);
	border-radius: var(--border-radius-s);
	color: var(--green-color);
	display: flex;
	align-items: center;
	gap: var(--offset-s);
	cursor: pointer;
	width: 100px;
	justify-content: space-between;
	margin-bottom: var(--offset-xs);
}

.status-arrow {
	transform: rotate(90deg);
	transition: transform 0.2s ease;
}

.status-arrow.arrow-open {
	transform: rotate(0deg);
}

/* Стили для пунктов статуса */
.status-option {
	padding: var(--offset-xs) var(--offset-s);
	border-radius: var(--border-radius-s);
	cursor: pointer;
	transition: background-color 0.2s ease;
	color: var(--text-color);
}

.status-option:hover,
.status-option.active {
	background-color: var(--lightgreen-color);
}

.status-option::before {
	content: '';
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: var(--status-color);
	margin-right: var(--offset-s);
}

.status-dropdown {
	gap: var(--offset-xxs);
	width: 100%;
}

.settings-dropdown {
	right: -5px;
	margin-top: var(--offset-xs);
	padding: var(--offset-xs);
}

.settings-dropdown > li {
	box-sizing: content-box;
	display: flex;
	align-items: center;
	padding: var(--offset-xxs);
	border-radius: var(--border-radius-s);
	cursor: pointer;
	transition: background-color 0.2s ease;
	color: var(--text-color);
}

.settings-dropdown > li:hover {
	background-color: var(--lightgreen-color);
}
