.profile-container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--offset-m);
	width: 100%;
}

.dropdown {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	top: 100%;
	background-color: var(--color-bg-secondary);
	padding: var(--offset-xs);
	border-radius: var(--border-radius-s);
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: all 0.2s ease-in-out;
	list-style: none;
	z-index: 10;
}

.dropdown.is-open {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.dropdown__icon {
	box-sizing: content-box;
	font-size: var(--font-size-pre-m);
	color: var(--color-text-primary);
	padding: var(--offset-xxs);
}

.settings-container {
	position: absolute;
	display: flex;
	right: 5px;
	top: 0;
	cursor: pointer;
	margin-bottom: var(--offset-xs);
}

.settings-icon {
	font-size: var(--font-size-pre-l);
	color: var(--color-text-tertiary);
	transition: all 0.2s ease-in-out;
}

.settings-container:hover .settings-icon {
	color: var(--color-text-primary);
}

.settings-container.active .settings-icon {
	transform: rotate(90deg);
	color: var(--color-text-primary);
}

.profile-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-grow: 0;
}

.profile-name {
	font-size: var(--font-size-pre-l);
	font-weight: bold;
	color: var(--color-text-primary);
	margin-bottom: var(--offset-s);
}

.status-container {
	position: relative;
	margin-bottom: var(--offset-s);
}

.profile-status {
	font-size: var(--font-size-m);
	background-color: var(--color-accent-secondary);
	padding: var(--offset-xs) var(--offset-s);
	border-radius: var(--border-radius-s);
	color: var(--color-accent-primary);
	display: flex;
	align-items: center;
	gap: var(--offset-s);
	cursor: pointer;
	width: 100px;
	justify-content: space-between;
	margin-bottom: var(--offset-xs);
}

.profile-status.online {
	background-color: var(--color-bg-status-online);
	color: var(--color-text-status-online);
}

.profile-status.busy {
	background-color: var(--color-bg-status-busy);
	color: var(--color-text-status-busy);
}

.profile-status.offline {
	background-color: var(--color-bg-status-offline);
	color: var(--color-text-status-offline);
}

.status-arrow {
	transform: rotate(90deg);
	transition: transform 0.2s ease;
}

.status-arrow.arrow-open {
	transform: rotate(0deg);
}

.status-option {
	padding: var(--offset-xs) var(--offset-s);
	border-radius: var(--border-radius-s);
	cursor: pointer;
	transition: background-color 0.2s ease, color 0.2s ease;
	color: var(--color-text-primary);
}

.status-option.online:hover,
.status-option.online.active {
	background-color: var(--color-bg-status-online);
	color: var(--color-text-status-online);
}

.status-option.busy:hover,
.status-option.busy.active {
	background-color: var(--color-bg-status-busy);
	color: var(--color-text-status-busy);
}

.status-option.offline:hover,
.status-option.offline.active {
	background-color: var(--color-bg-status-offline);
	color: var(--color-text-status-offline);
}

.status-option::before {
	content: '';
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: var(--status-color);
	margin-right: var(--offset-s);
}

.status-dropdown {
	gap: var(--offset-xxs);
	width: 100%;
	background-color: var(--color-bg-secondary);
	border: 1.5px solid var(--color-border-secondary);
}

.settings-dropdown {
	right: -5px;
	margin-top: var(--offset-xs);
	padding: var(--offset-xs);
	background-color: var(--color-bg-secondary);
	border: 1.5px solid var(--color-border-secondary);
}

.settings-dropdown > li {
	box-sizing: content-box;
	display: flex;
	align-items: center;
	padding: var(--offset-xxs);
	border-radius: var(--border-radius-s);
	cursor: pointer;
	transition: background-color 0.2s ease;
	color: var(--color-text-primary);
}

.settings-dropdown > li:hover {
	background-color: var(--color-accent-secondary);
}
