.chats-user {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: var(--color-bg-secondary);
	padding: var(--offset-s);
	border-radius: var(--border-radius-m);
	gap: var(--offset-s);
	transition: 0.15s background-color;
	cursor: pointer;
}

.chats-user--active {
	background-color: var(--color-accent-tertiary);
}

.chats-user__user-and-text {
	display: flex;
	gap: var(--offset-s);
}

.chats-user__avatar-container {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.chats-user__avatar {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid var(--color-border-primary);
}

.chats-user__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--offset-xs);
}

.chats-user__username {
	font-size: var(--font-size-m);
	color: var(--color-text-primary);
	transition: 0.15s color;
}

.chats-user--active .chats-user__username {
	color: var(--color-text-on-accent);
}

.chats-user__last-message {
	font-size: var(--font-size-xs);
	color: var(--color-text-secondary);
}

.chats-user__date {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-size: var(--font-size-xs);
	color: var(--color-text-secondary);
}
