.chat-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
	min-height: 0;
	background-color: var(--color-bg-tertiary);
	border-radius: var(--border-radius-m);
}

@media (max-width: 960px) {
	.chat-container {
		border-radius: 0;
	}
}

.chat-container__show-sidebar-mobile {
	display: none;
	font-size: var(--font-size-pre-l);
	align-items: center;
	cursor: pointer;
	color: var(--color-text-tertiary);
	margin: var(--offset-m) 0 0 var(--offset-m);
	position: absolute;
}

@media (max-width: 960px) {
	.chat-container__show-sidebar-mobile {
		display: flex;
	}
}

.chat-container__title {
	text-align: center;
	color: var(--color-text-tertiary);
	font-size: var(--font-size-l);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.chat-window {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: 0;
	padding: 0 var(--offset-m) var(--offset-m) var(--offset-m);
}

.chat-window__main {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 0;
	gap: var(--offset-s);
	overflow-y: auto;
}

.date-group {
	display: flex;
	flex-direction: column;
	gap: var(--offset-xs);
	position: relative;
}

.date-group__header {
	position: sticky;
	top: var(--offset-s);
	margin: 0 auto 5px;
	padding: var(--offset-xs) var(--offset-s);
	border: 1.5px solid var(--color-border-secondary);
	border-radius: var(--border-radius-m);
	color: var(--color-text-tertiary);
}
