.input-container {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: var(--color-bg-secondary);
	padding: var(--offset-s);
	border-radius: var(--border-radius-m);
	gap: var(--offset-xs);
	border: 1.5px solid var(--color-border-secondary);
}

.input-container > input {
	background: transparent;
	outline: none;
	border: none;
	width: 100%;
	font-size: var(--font-size-s);
	color: var(--input-text-color);
	font-size: var(--font-size-m);
}

.input-container > input::placeholder {
	color: var(--color-text-tertiary);
}

.input-container > .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-text-secondary);
}

.input-container > .password-icon {
	color: var(--color-text-tertiary);
	transition: color 0.25ms ease;
}

.input-container > .password-icon:hover {
	color: var(--color-text-primary);
}

.input-container > .search-icon {
	color: var(--color-text-secondary);
	cursor: pointer;
}
