.input-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: var(--input-color);
	padding: var(--offset-s);
	border-radius: var(--border-radius-m);
	gap: var(--offset-xs);
	box-shadow: var(--input-box-shadow);
}

.input-container > input {
	background: transparent;
	outline: none;
	border: none;
	width: 100%;
	font-size: var(--font-size-s);
	color: var(--input-text-color);
	font-size: var(--font-size-m);
}

.input-container > input::placeholder {
	color: var(--input-text-light-color);
}

.input-container > .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--input-text-light-color);
}

.input-container > .password-icon {
	color: var(--text-color);
}

.input-container > .search-icon {
	color: var(--input-text-light-color);
	cursor: pointer;
}
