.sidebar {
	display: flex;
	flex-direction: column;
	width: 320px;
	height: 100%;
}

.sidebar__header {
	min-height: 50px;
	display: flex;
	align-items: center;
}

.title {
	font-size: var(--font-size-pre-l);
	color: var(--color-text-primary);
}

.underline {
	width: 100%;
	height: 1.5px;
	background: var(--color-text-tertiary);
	margin-bottom: var(--offset-m);
}
